/*@font-face {*/
/*    font-family: 'Walbaum';*/
/*    src:url('peaulisses/walbaum10xlpro.eot');*/
/*    src:url('peaulisses/walbaum10xlpro.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaum10xlpro.woff2') format('woff2'),*/
/*        url('peaulisses/walbaum10xlpro.woff') format('woff'),*/
/*        url('peaulisses/walbaum10xlpro.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaum';*/
/*    src:url('peaulisses/walbaum10xlproitalic.eot');*/
/*    src:url('peaulisses/walbaum10xlproitalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaum10xlproitalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaum10xlproitalic.woff') format('woff'),*/
/*        url('peaulisses/walbaum10xlproitalic.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaum';*/
/*    src:url('peaulisses/walbaum10xlprobold.eot');*/
/*    src:url('peaulisses/walbaum10xlprobold.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaum10xlprobold.woff2') format('woff2'),*/
/*        url('peaulisses/walbaum10xlprobold.woff') format('woff'),*/
/*        url('peaulisses/walbaum10xlprobold.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaum';*/
/*    src:url('peaulisses/walbaum10xlprobolditalic.eot');*/
/*    src:url('peaulisses/walbaum10xlprobolditalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaum10xlprobolditalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaum10xlprobolditalic.woff') format('woff'),*/
/*        url('peaulisses/walbaum10xlprobolditalic.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: italic;*/
/*}*/

/*/* sans-serif normal, ital, gras et gras ital*/
/*La graisse standard est utilisée dans l'interface mais pas pour le texte */*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgroteskbook.eot');*/
/*    src:url('peaulisses/walbaumgroteskbook.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgroteskbook.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgroteskbook.woff') format('woff'),*/
/*        url('peaulisses/walbaumgroteskbook.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgroteskbookitalic.eot');*/
/*    src:url('peaulisses/walbaumgroteskbookitalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgroteskbookitalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgroteskbookitalic.woff') format('woff'),*/
/*        url('peaulisses/walbaumgroteskbookitalic.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgroteskbookbold.eot');*/
/*    src:url('peaulisses/walbaumgroteskbookbold.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgroteskbookbold.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgroteskbookbold.woff') format('woff'),*/
/*        url('peaulisses/walbaumgroteskbookbold.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgroteskbookbolditalic.eot');*/
/*    src:url('peaulisses/walbaumgroteskbookbolditalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgroteskbookbolditalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgroteskbookbolditalic.woff') format('woff'),*/
/*        url('peaulisses/walbaumgroteskbookbolditalic.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: italic;*/
/*}*/

/*/* sans-serif texte, texte ital, très gras et très gras ital*/
/*La graisse standard est utilisée pour le texte. Le très gras pour certaines titrailles */*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgrotesktext.eot');*/
/*    src:url('peaulisses/walbaumgrotesktext.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgrotesktext.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgrotesktext.woff') format('woff'),*/
/*        url('peaulisses/walbaumgrotesktext.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgrotesktextitalic.eot');*/
/*    src:url('peaulisses/walbaumgrotesktextitalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgrotesktextitalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgrotesktextitalic.woff') format('woff'),*/
/*        url('peaulisses/walbaumgrotesktextitalic.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgrotesktextbold.eot');*/
/*    src:url('peaulisses/walbaumgrotesktextbold.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgrotesktextbold.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgrotesktextbold.woff') format('woff'),*/
/*        url('peaulisses/walbaumgrotesktextbold.ttf') format('truetype');*/
/*    font-weight: 800;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgrotesktextbolditalic.eot');*/
/*    src:url('peaulisses/walbaumgrotesktextbolditalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgrotesktextbolditalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgrotesktextbolditalic.woff') format('woff'),*/
/*        url('peaulisses/walbaumgrotesktextbolditalic.ttf') format('truetype');*/
/*    font-weight: 800;*/
/*    font-style: italic;*/
/*}*/

/*/* sans serif ligh et ital associé. Rares titrailles. */*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgrotesklight.eot');*/
/*    src:url('peaulisses/walbaumgrotesklight.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgrotesklight.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgrotesklight.woff') format('woff'),*/
/*        url('peaulisses/walbaumgrotesklight.ttf') format('truetype');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgrotesklightitalic.eot');*/
/*    src:url('peaulisses/walbaumgrotesklightitalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgrotesklightitalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgrotesklightitalic.woff') format('woff'),*/
/*        url('peaulisses/walbaumgrotesklightitalic.ttf') format('truetype');*/
/*    font-weight: 100;*/
/*    font-style: italic;*/
/*}*/

/*/* sans serif black et ital associé. Pas utilisé à ce stade. */*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgroteskblack.eot');*/
/*    src:url('peaulisses/walbaumgroteskblack.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgroteskblack.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgroteskblack.woff') format('woff'),*/
/*        url('peaulisses/walbaumgroteskblack.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Walbaumgrot';*/
/*    src:url('peaulisses/walbaumgroteskblackitalic.eot');*/
/*    src:url('peaulisses/walbaumgroteskblackitalic.eot?#iefix') format('embedded-opentype'),*/
/*        url('peaulisses/walbaumgroteskblackitalic.woff2') format('woff2'),*/
/*        url('peaulisses/walbaumgroteskblackitalic.woff') format('woff'),*/
/*        url('peaulisses/walbaumgroteskblackitalic.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: italic;*/
/*}*/

body { 
font-size: 1em;
font-family: Walbaumgrot, helvetica, arial, sans-serif;
color: #333333;
line-height: normal;
font-weight: 400;
}

/* Titraille / Intertitres */

h1,h2,h3,h4,h5,h6 { 
margin: 0;
padding: 0;
font-weight: bold;
}

h1 { 	
font-family: Walbaum, Georgia, 'Times new roman', serif;
font-size: 3.5em;
line-height:1.1em;
color: #222222;
font-weight: normal;
margin: 0 0 15px 0;
}

p {
margin: 1em 0 1em 0;
}

.cartouche {
margin-bottom: 50px;
padding-bottom:7px;
border-bottom: 1px solid #bbbbbb;
overflow:hidden;
}

.cartouche p {
margin: 0;
padding: 0;
}

.surtitre, .cartouche .surtitre {
margin-bottom: 0.50em;
font-size: 1.4em;
font-family: Walbaumgrot, helvetica, arial, sans-serif;
}

.chapo {	
font-size:1.6em;
line-height: 1.4em;
margin: 0;
font-family: Walbaumgrot, helvetica, arial, sans-serif;
font-weight: 400;
padding: 0 15px 0 0;
overflow:hidden;
}

.chapo p {	
margin: 0.8em 0 0 0;
padding: 0em;
}
.chapo p:first-child, .chapo p:first-of-type {	
margin: 0;
}

.texte {	
font-family: Walbaum, Georgia, 'Times new roman', serif;
font-size:1.3em;
line-height: 1.4em;
margin : 0 0 20px 0;
position: relative;
}

.texte p {	
margin: 0.8em 160px 0.8em 80px;
}

.texte ul, .texte ol {	
padding: 0.5em 10px 0.5em 35px;
}

.texte ul li {	
list-style-position:outside;
list-style-type:square;
padding: 0;
margin: 0 0 0.3em 0;
}

.texte ul li ul {	
padding: 0 0 0 50px;
margin: 0;
}

.texte ol li {	
list-style-position:outside;
list-style-type:decimal;
padding: 0;
margin: 0 0 0.3em 0;
}

.texte ol li ol {	
padding: 0 0 0 30px;
margin: 0;
}

.mot-lettrine {
font-style:normal;
margin-left: -0.5em;
}

.lettrine {
font-size: 6.8em;
font-family: Walbaumgrot, helvetica, arial, sans-serif;
font-weight: 800;
line-height:1em;
display:inline-block;
color:#bbbbbb;
float:left;
margin: -8px 22px 5px -25px;
min-width:0.4em;
font-style:normal;
}

.cartouche .dates_auteurs, .vcard .dates_auteurs {
margin: 30px 0 0 0;
padding: 7px 0 0 0;
font-size: 1.25em;
color: #999999;
display:block;
text-align: center;
border-top: 1px solid #bbbbbb;
}

